<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
         <div class="row x_title">
            <div class="col-md-6">
                <h3>Nuevo Proveeder</h3>
            </div>
         </div>
<%= nested_form_for(@provider, local: true, :html => {:id => "contact_form"}) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-4 inputGroupContainer no-paddong-left">
      <label>Nombre</label>
      <%= form.text_field :name, class: "form-control", :placeholder => "Nombre", :name => "name" %>
    </div>

    <div class="col-md-4 inputGroupContainer no-paddong-left">
      <label>Email</label>
      <%= form.email_field :email, class: "form-control", :placeholder => "Email", :name => "email" %>
    </div>

    <div class="col-md-4 inputGroupContainer no-paddong-left margin-bottom">
      <label>Pagina Web</label>
      <%= form.text_field :web, class: "form-control", :placeholder => "Direccion de Pagina Web", :name => "web"  %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 inputGroupContainer no-paddong-left">
      <label>Telefono</label>
        <%= form.text_field :phone, class: "form-control", :placeholder => "Telefono", :name => "" %>
    </div>

    <div class="col-md-4 inputGroupContainer no-paddong-left">
      <label>Direccion de Residencia</label>
        <%= form.text_field :address, class: "form-control", :placeholder => "Direccion", :name => "" %>
    </div>


    <div class="col-md-4 inputGroupContainer no-paddong-left margin-bottom">
      <label>Nit</label>
        <%= form.text_field :nit, class: "form-control", :placeholder => "Direccion", :name => "" %>
    </div>

  </div>


  
        <%= form.hidden_field :user_id ,:value =>  current_user.id %>

          <div class="col-md-12 no-paddong-left">
            <%= form.submit "Guardar", class: "btn btn-default" %>
            <%= link_to "Volver", :back %>
            <br><br>
          </div>

      </div>
   </div>
</div>

  <div class="row margin-top">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <div class="row x_title">
          <div class="col-md-6">
            <h3>Contacto</h3>
          </div>
        </div>
<%= form.fields_for :contacts do |contact|  %>
  <div class="clearfix">
 <div class="col-md-12" >  
    <div class="col-md-3 pdd" >
     <%= contact.link_to_remove do %>
<i style = "    color: #e74b09;
    font-size: 18px;
    margin-left: 0px;
    position: relative;
    left: -18px;" class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
    <%= contact.label "Nombre" %>
   <%= contact.text_field :name, :class => 'form-control' %>
    </div>
      <div class="col-md-3 pdd" >
    <%= contact.label "Celular" %>
    <%= contact.text_field :phone, :class => 'form-control' %>
    </div>


     <div class="col-md-3 pdd" >
    <%= contact.label "Email" %>
    <%= contact.email_field :email, :class => 'form-control' %>
    </div>
    <%= contact.hidden_field :user_id ,:value =>  current_user.id %>
    <%= contact.hidden_field :id, class: "items" if action_name == "edit" %> 
   </div>
    </div>  
<% end %>
 <%= form.link_to_add "Agregar Contacto", :contacts, :class => 'btn btn-primary top10'  %>
 <% end -%>
    </div>
  </div>
</div>
