<div class="content-table">

  <table id="table">
    <thead>
      <tr>
        <th class="title" width="40%"><img width="400px" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/433/Captura_de_pantalla_2019-04-09_a_la_s__11.26.05_a._m..png"></th>
        <th class="title" width="40%" style="font-size: 30px;">REPORTE DE EFICIENCIA</th>
        <td class="code text-center" width="10%">
          <table class="rev" >
            <tr>
              <td colspan="2">CODIGO </td>
            </tr>
            <tr>
              <td colspan="2" style="border-bottom: 1px solid gray">AUT-04</td>
            </tr>
            <tr>
              <td style="border-right: 1px solid gray">REVISIÓN</td>
              <td>PÁGINA</td>
            </tr>
            <tr>
              <td style="border-right: 1px solid gray">2</td>
              <td>__de___</td>
            </tr>
          </table>
        </td>
      </tr>
    </thead>
  </table>
 <br><br>
  <table id="table" class="table-info">
    <thead>
      <tr>
        <td class="title-td" >Empleado </td>
        <td class="info-td" ><%=@user.names %></th>
        <td class="title-td" > </td>
        <td class="info-td" ></td>
      </tr>
       <tr>
        <td class="title-td" >Fecha Desde </td>
        <td class="info-td" ><%=@fecha_desde %></th>
        <td class="title-td" >Fecha Hasta</td>
        <td class="info-td" ><%=@fecha_hasta %></td>
      </tr>

    

    </thead>
  </table>

  <br><br><br>

 
    <table id="customers">

    
        <tr>
          <th class="title-header text-center" style=" text-align: center;" colspan="1">FECHA</th>
          <th class="title-header text-center" style=" text-align: center;">HORAS</th>
          <th class="title-header text-center" style=" text-align: center;">CENTRO DE COSTO</th>
          <th class="title-header text-center" style=" text-align: center;">CLIENTE</th>

          <th class="title-header text-center" style=" text-align: center;">DESCRIPCION ACTIVIDAD</th>
          <th class="title-header text-center" style=" text-align: center;">DESCRIPCION CENTRO DE COSTO</th>
          
        </tr>



        <% @reports.each do |report|%>
        <tr>
          <td style="width: 10%; text-align: center;"><%=report.report_date.strftime("%d-%m-%Y") %></td>
          <td style="width: 10%; text-align: center;"><%=report.working_time + report.displacement_hours %></td>
          <td style="width: 10%; text-align: center;"><%=report.cost_center.code %></td>
          <td style="width: 10%; text-align: center;"><%=report.customer.name %></td>
          <td style="width: 40%"><%=report.work_description%></td>
          <td style="width: 40%"><%=report.cost_center.description%></td>
          
        </tr>
        <%end%>
    	        <tr>
          <td class="title-header text-center" style=" text-align: center;font-size: 25px;font-weight: bold" colspan="1">TOTAL</td>
          <td class="title-header text-center" style=" text-align: center;font-size: 25px;font-weight: bold"><%=@reports.sum(:working_time)%></td>

          
        </tr>
 
    </table>
      <br><br>



</div>

<style type="text/css" media="screen">
.title-td{
  padding-left: 30px !important;
}
.info-td{
  border-bottom: 1px solid gray;
  width: 33%;
  padding-right: 20px;
}
.table-info td
{
  font-size: 20px !important;
  padding: 5px;
}
  .move{
    position: absolute;
    top: 1640px;
  }
  #customers {
    border-collapse: collapse;
    width: 1300px;
    margin-left: 0px;
  }
  #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
  }
  #text-show{
    border-right: none;
    border-top: none;
    border-left: none;
    width: 1300px;
    margin-right: 15px;
  }
  #customers tr:nth-child(even){}
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2a3f54;
    color: white;
  }
  #table2{
    border-collapse: collapse;
    width: 99%;
    margin-left: 5px;
  }
  .contenido2{
    width: 1300px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contenido3{
    width: 1300px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contenido3 p{
    display: inline-block;
  }
  .contenido2 p{
    display: inline-block;
  }
  .contenido p{
    margin-top: 3px;
    margin-bottom: 3px;
  }
  #table{
    width: 1300px;
    border-collapse: collapse;
  }
  .contenido{
    border: 1px solid black !important;
    padding: 10px !important;
   width: 1300px;
     
  }
  #title-date{
    border: 1px solid black !important;
    text-align: center;
    width: 1300px !important;
  }
  .title-header{
    text-align: center
  }
  .text{
    display: block;
  }
  .title{
    padding: 20px;
    border: 1px solid black !important;
    text-align: center;
    width: 30% !important;
  }
  .code{
    border: 1px solid black !important;
    text-align: center;
  }
  .only-border{
        border-top: 1px solid black !important; 
  }
  .rev td
  {
    text-align: center;
    padding: 5px;
  }
  .rev
  {
    width: 100%;
  }
  .marca_de_agua
  {
    font-size: 144px;
    position: absolute;
    top: 642px;
    left: 250px;
    font-family: sans-serif;
    color: rgba(228, 228, 228, 0.5803921568627451);
}
  
</style>
