    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "contact_form"}) do |f| %>
              <%= devise_error_messages! %>
             <img src="http://controlmatica.com.co/images/controlmatica/controlmatica-logo-03.png">
              <div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form-control", :title => "Es un Campo Obligatorio" %>
              </div>
              <div>
                <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Contraseña", class: "form-control", :title => "Es un Campo Obligatorio" %>
              </div>

              <div>
                 <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Confirmar Contraseña", class: "form-control", :title => "Es un Campo Obligatorio"  %>
              </div>

              <div>
                <%= f.submit "Registrarme", class: "btn btn-dark" %>
                <%- if controller_name != 'sessions' %>
                  <%= link_to "Ya Tengo Una Cuenta", new_session_path(resource_name), class: "reset_pass" %><br />
                <% end -%>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <div class="clearfix"></div>
                <br />

                <div>
                  <p>©2019 Controlmatica Todos Los Derechos Reservados.</p>
                </div>

              </div>
           <% end %>
          </section>
        </div>
      </div>
    </div>



