<div class="row">
  <%= form_tag update_user_path(@user.id), method: :patch  do %>
	  <div class="col-md-8 col-sm-12 col-xs-12 margin-bot">
	    <div class="dashboard_graph">

	    	<div class="row">
	    		<div class="col-md-12 no-padding">
	    			<h4>Editar a <%= @user.names %></h4>
	    			<hr>
	    		</div>

	    		<div class="col-md-12 no-padding margin-bot">
		    		<div class="col-md-4 no-padding-left">
		    	 		<%= label_tag "Nombre y apellido"%>	
		    			<%= text_field_tag :names, nil, class: "form form-control", :placeholder => "", :value => @user.names%>
		        	</div>

		    		<div class="col-md-4">
		    	 		<%= label_tag "Email"%>	
		    			<%= email_field_tag :email, nil, class: "form form-control", :placeholder => "", :value => @user.email %>
		        	</div>


		        	<div class="col-md-4">
		    	 		<%= label_tag "Cargo"%>	
		    	 		<%= select_tag 'rol_user', options_for_select(get_rol_user),{:class => 'form form-control',  :prompt => 'Selecciona un cargo '}%>
		        	</div>
	    		</div>

	    		<div class="col-md-12 no-padding margin-bot">
		    		<div class="col-md-6 no-padding-left">
		    	 		<%= label_tag "Tipo de Documento"%>	
		    			<%= select_tag 'document_type', options_for_select(select_documento),{:class => 'form form-control'}%>
		        	</div>

		    		<div class="col-md-6">
		    	 		<%= label_tag "Numero de Documento"%>	
		    			<%= text_field_tag :number_document, nil, class: "form form-control", :value => @user.number_document  %>
		        	</div>
	    		</div>

	    		<div class="col-md-12 no-padding" style="margin-bottom: 10px;">
	    			<span id="confirm-message2" class="confirm-message"></span> 
	    		</div>

		  		<div class="col-md-6 no-padding-left">
				    <%= label_tag "Contrase単a"%>	
				    <%= password_field_tag :password, nil, class: "form form-control", :placeholder => "", id: "password", :onkeyup => "checkPass()"  %>
				</div>

				<div class="col-md-6">
				    <%= label_tag "Confirmar Contrase単a"%>	
				    <%= password_field_tag :password_confirmation, nil, class: "form form-control", :placeholder => "", id: "confirm2", :onkeyup => "checkPass()"  %>
			   	</div>

	    	</div>

	    </div>
	  </div>

	  <div class="col-md-4 col-sm-12 col-xs-12">
	  	<div class="dashboard_graph">
  			<div class="row">
  				<div class="col-md-12 no-padding text-center">
	    			<h4>Avatar</h4>
	    			<hr>
	    		</div>
	  			<div class="col-md-12 text-center margin-bot">
		           <img  class="user-avatar rounded-circle" id="edit-avatar" src="https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg" alt="" />
		             <br><br>
		             <%= file_field_tag :avatar, class: "form form-control", id: "img1" %>
	          	</div>
	           <br><br>
		          <div class="col-md-12 modal-footer">
		            <%= submit_tag "Actualizar", class: "btn btn-warning", id: "btn-save" %>
		            <%= link_to "Volver", users_path, class: "btn btn-light" %>
		          </div>
  			</div>
	  	</div>
	  </div>

   <% end -%>
</div>

<script type="text/javascript">

function checkPass(){
    //Store the password field objects into variables ...
    var password = document.getElementById('password');
    var confirm  = document.getElementById('confirm2');
    //Store the Confirmation Message Object ...
    var message = document.getElementById('confirm-message2');
    //Set the colors we will be using ...
    var good_color = "#66cc66";
    var bad_color  = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(password.value == confirm.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        message.style.color           = good_color;
        message.innerHTML             = 'Las Contrase単as coinciden';
        $("#btn-save").attr('disabled', false);
        $(".btn-warning").removeClass('opacidad_registration');
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        message.style.color           = bad_color;
        message.innerHTML             = 'Las Contrase単as no coinciden';
        $("#btn-save").attr('disabled', true);
        $(".btn-warning").addClass('opacidad_registration');

    }
}  


</script>


<style type="text/css" media="screen">

	.margin-bot{
		margin-bottom: 30px;
	}

	#edit-avatar{
		height: 96px;
    	border-radius: 50%;
	}

</style>