<div class="x_content">

  <div class="container-fluid no-padding">

    <div class="col-md-9 no-paddong-left">
          <h1>Informes de Clientes Creados</h1>
          <span class="count"><%= @customer_reports.count %></span>
          <p id="count-pages"><%= page_customer_reports_info @customer_reports %></p>
    </div>

    <div class="col-md-3 float margin_top" >
          <%= link_to 'Nuevo Informes de Cliente', new_customer_report_path, class: "btn btn-dark float" %>
    </div>

  </div>
  
  <div class="content">
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
    <tr>
      <th>Report date</th>
      <th>Description</th>
      <th>Token</th>
      <th>Report state</th>
      <th>Report code</th>
      <th>Customer</th>
      <th colspan="3" class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @customer_reports.each do |customer_report| %>
      <tr>
        <td><%= get_date(customer_report.report_date) %></td>
        <td><%= customer_report.description %></td>
        <td><%= customer_report.token %><%= link_to "Aprobar Informe", aprobar_informe_path(customer_report.token), remote: true %></td>
        <td><%= customer_report.report_state %></td>
        <td><%= customer_report.report_code %></td>
        <td><%= customer_report.customer_id %></td>
        <td  class="text-center">
          <%= link_to customer_pdf_path(customer_report.id, :format => "pdf"), target:"_blank", class: "btn-padding", title: "Generar Pdf" do%>
            <i class="far fa-file-pdf"></i>
          <% end -%>

            <%= link_to customer_report, class: "btn-padding" do %>
              <i class="far fa-eye"></i>
            <% end -%>

            <%= link_to edit_customer_report_path(customer_report), class: "btn-padding" do %>
              <i class="fas fa-pencil-alt"></i>
            <% end -%>

            <%= link_to customer_report, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "btn-delete" do%>
              <span class="glyphicon glyphicon-trash"></span>
            <% end -%>
            
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<style type="text/css">
.content
{
  max-height: 500px; 
  height: 500px; 
  max-width: 100%;
  

}
.content table
{
  width: 2000px;
    
}
.table-responsive
{
  height: 500px;
}
</style>