<div class="x_content">

  <div class="container-fluid no-padding">

    <div class="col-md-9 no-paddong-left">
          <h1>Informes de Clientes Creados</h1>
          <span class="count"><%= @customer_reports.count %></span>
          <p id="count-pages"><%= page_customer_reports_info @customer_reports %></p>
    </div>

    <div class="col-md-4 float margin_top" >
      <!--
          <button class="btn btn-primary float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-search"></i>
          </button>
        -->
          <%= link_to 'Nuevo Informes de Cliente', new_customer_report_path, class: "btn btn-dark float" %>
    </div>
    <!--
    <div class="collapse col-md-12 no-padding" id="collapseExample" style="margin-bottom: 18px;">
       <%# form_tag customer_reports_path method: :get do %>
          <div class="row">
            <div class="col-md-5">
              <%# select_tag 'search1', options_for_select(get_customer_report.collect{ |u| [u.report_state, u.id] }),{:class => "form form-control", :prompt => 'Selecciona un estado'}%>
            </div>
          </div>
       <%# end -%>
    </div>
  -->

  </div>
  
  <div class="content">
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
        <tr>
          <th class="text-center">Acciones</th>
          <th>Creado</th>
          <th>Codigo</th>
          <th>Descripcion</th>
          <th>Token</th>
          <th>Estado</th>
          <th>Fecha Aprobacion</th>
     
          <th>Cliente</th>
        </tr>
      </thead>

  <tbody>
    <% @customer_reports.each do |customer_report| %>

      <tr>
        <td style="text-align: center;">

          <div class="dropdown">
            <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-align-left"></i>
            </button>
            <div class="dropdown-menu">

              <div class="col-md-12 menu">  
                <%= link_to customer_report, class: "dropdown-item" do %>
                  <i class="far fa-eye"></i> Ver Registro
                <% end -%>
              </div>

              <div class="col-md-12 menu">  
                <%= link_to edit_customer_report_path(customer_report), class: "dropdown-item" do %>
                  <i class="fas fa-pencil-alt"></i> Editar Registro
                <% end -%>
              </div>

              <div class="col-md-12 menu">  
                <%= link_to customer_report, method: :delete, data: {
                  confirm: '¿Estas Seguro?',
                  'confirm-button-text': 'Borrar',
                  'cancel-button-text': 'Cancelar',
                  'confirm-button-color': '#CC0000',
                   text: 'Recuerda que el registro se borrara permanentemente',
                  'image-url': ''}, class: "dropdown-item" do %>
                  <span class="glyphicon glyphicon-trash"></span> Eliminar 
                <% end -%>
              </div>

              <div class="col-md-12 menu">
                <%= link_to customer_pdf_path(customer_report.id, :format => "pdf"), target:"_blank", class: "dropdown-item", title: "Generar Pdf" do %>
                   <i class="far fa-file-pdf"></i> Generar Pdf
                <% end -%>
              </div>

            </div>
          </div>

        </td>
  
        <td><%= get_date(customer_report.report_date) %></td>
        <td><%= customer_report.report_code %></td>
        <td><%= customer_report.description %></td>
        <td><%= link_to "Enviar para Aprobaciòn", enviar_aprobacion_path(customer_report.id), remote:true, data: {
                  confirm: '¿Estas Seguro?',
                  'confirm-button-text': 'Enviar',
                  'cancel-button-text': 'Cancelar',
                  'confirm-button-color': 'green',
                   text: 'Al aceptar se enviara el correo al cliente',
                  'image-url': ''}, class: "dropdown-item btn btn-primary"%>
  
            </td>
        <td><%= customer_report.report_state %></td>
        <td><%= customer_report.approve_date.strftime("%d-%m-%Y") if customer_report.approve_date %></td>
    
        <td><%= customer_report.customer.name  if customer_report.customer%></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<style type="text/css">
.content
{
  max-height: 500px; 
  height: 500px; 
  max-width: 100%;
   
}

.table > thead > tr > th{
}

.table-responsive
{
  height: 500px;
}
.menu{
  padding: 5px 5px;
}
</style>