<%= link_to "Volver", customer_reports_path , class: "btn btn-primary"%>
<div class="content-table">
<div class="marca_de_agua"><%="APROBADO" if @customer_report.report_state == "Aprobado"%></div>
  <table id="table">
    <thead>
      <tr>
        <th class="title" width="40%"><img width="400px" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/433/Captura_de_pantalla_2019-04-09_a_la_s__11.26.05_a._m..png"></th>
        <th class="title" width="40%" style="font-size: 30px;">REPORTE DE SERVICIO</th>
        <td class="code text-center" width="10%">
          <table class="rev" >
            <tr>
              <td colspan="2">CODIGO</td>
            </tr>
            <tr>
              <td colspan="2" style="border-bottom: 1px solid gray">AUT-04</td>
            </tr>
            <tr>
              <td style="border-right: 1px solid gray">REVISIÓN</td>
              <td>PÁGINA</td>
            </tr>
            <tr>
              <td style="border-right: 1px solid gray">2</td>
              <td>__de___</td>
            </tr>
          </table>
        </td>
      </tr>
    </thead>
  </table>
 <br><br>
  <table id="table" class="table-info">
    <thead>
      <tr>
        <td class="title-td" >Cliente </td>
        <td class="info-td" ><%=@customer_report.cost_center.customer.name if @customer_report.cost_center.customer %></th>
        <td class="title-td" > N Reporte</td>
        <td class="info-td" ><%=@customer_report.report_code %></td>
      </tr>
       <tr>
        <td class="title-td" >Direccion </td>
        <td class="info-td" ><%=@customer_report.cost_center.customer.address if @customer_report.cost_center.customer %></th>
        <td class="title-td" >Contacto</td>
        <td class="info-td" ><%=@customer_report.cost_center.contact.name if @customer_report.cost_center.contact %></td>
      </tr>
      <tr>
        <td class="title-td" >Cotizacion # </td>
        <td class="info-td" ><%=@customer_report.cost_center.quotation_number if @customer_report.cost_center %></th>
        <td class="title-td" >Telefono</td>
        <td class="info-td" ><%=@customer_report.cost_center.contact.phone if @customer_report.cost_center.contact %></td>
      </tr>
        <tr>
 
        <td class="title-td" >Orden de Compra #</td>
        <td class="info-td" ></th>
      </tr>

    </thead>
  </table>

  <br><br><br>

 
    <table id="customers">
      <thead>
           <tr>
          <td class="title-header text-center" style=" text-align: center;" colspan="5">ACTIVIDADES</td>
             </tr>
        <tr>
          <th class="title-header text-center" style=" text-align: center;" colspan="1">FECHA</th>
          <th class="title-header text-center" style=" text-align: center;">HORAS</th>
          <th class="title-header text-center" style=" text-align: center;">EMPLEADO</th>
          <th class="title-header text-center" style=" text-align: center;">DESCRIPCION</th>
          <th class="title-header text-center" style=" text-align: center;">REVISO</th>
        </tr>
      </thead>

      <tbody >
        <% @customer_report.reports.each do |report|%>
        <tr>
          <td style="width: 12%; text-align: center;"><%=report.report_date%></td>
          <td style="width: 12%; text-align: center;"><%=report.working_time%></td>
          <td style="width: 12%; text-align: center;"><%=report.report_execute.names %> <%=report.report_execute.last_names%></td>
          <td style="width: 50%"><%=report.work_description%></td>
          <td style="width: 12%"><%=report.contact_name%></td>
        </tr>
        <%end%>
    
      </tbody>
    </table>
      <br><br>

      <table id="table" class="table-info move">
    <thead>
        <tr>
        <td class="title-td" colspan="2" > Recibí a conformidad y plena satisfacción  el servicio descrito</td>
        <td class="title-td" colspan="2">EMPLEADO CONTROLMATICA S.A.S</th>
    
      </tr>
      <tr>
        <td class="title-td" >Nombre</td>
        <td class="info-td"><%=@customer_report.contact.name if @customer_report.contact %></th>
        <td class="title-td" > Nombre</td>
        <td class="info-td" ><%=@customer_report.user.names%></td>
      </tr>
       <tr>
        <td class="title-td" >Cargo</td>
        <td class="info-td" ><%=@customer_report.contact.position if @customer_report.contact %></th>
        <td class="title-td" >Firma</td>
        <td class="info-td" ></td>
      </tr>
      <tr>
        <td class="title-td" >Firma </td>
        <td class="info-td" ></th>
    
      </tr>
       
  
    </thead>
  </table>


</div>

<style type="text/css" media="screen">
.title-td{
  padding-left: 30px !important;
}
.info-td{
  border-bottom: 1px solid gray;
  width: 33%;
  padding-right: 20px;
}
.table-info td
{
  font-size: 20px !important;
  padding: 5px;
}
  .move{
    position: absolute;
    top: 1640px;
  }
  #customers {
    border-collapse: collapse;
    width: 1300px;
    margin-left: 0px;
  }
  #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
  }
  #text-show{
    border-right: none;
    border-top: none;
    border-left: none;
    width: 1300px;
    margin-right: 15px;
  }
  #customers tr:nth-child(even){}
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2a3f54;
    color: white;
  }
  #table2{
    border-collapse: collapse;
    width: 99%;
    margin-left: 5px;
  }
  .contenido2{
    width: 1300px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contenido3{
    width: 1300px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contenido3 p{
    display: inline-block;
  }
  .contenido2 p{
    display: inline-block;
  }
  .contenido p{
    margin-top: 3px;
    margin-bottom: 3px;
  }
  #table{
    width: 1300px;
    border-collapse: collapse;
  }
  .contenido{
    border: 1px solid black !important;
    padding: 10px !important;
   width: 1300px;
     
  }
  #title-date{
    border: 1px solid black !important;
    text-align: center;
    width: 1300px !important;
  }
  .title-header{
    text-align: center
  }
  .text{
    display: block;
  }
  .title{
    padding: 20px;
    border: 1px solid black !important;
    text-align: center;
    width: 30% !important;
  }
  .code{
    border: 1px solid black !important;
    text-align: center;
  }
  .only-border{
        border-top: 1px solid black !important; 
  }
  .rev td
  {
    text-align: center;
    padding: 5px;
  }
  .rev
  {
    width: 100%;
  }
  .marca_de_agua
  {
    font-size: 144px;
    position: absolute;
    top: 642px;
    left: 250px;
    font-family: sans-serif;
    color: rgba(228, 228, 228, 0.5803921568627451);
}
  
</style>
