<div class="content-table">

  <table id="table">
    <thead>
      <tr>
        <th class="title" width="20%"><img width="200px" src="http://controlmatica.com.co/images/controlmatica/controlmatica-logo-03.png"></th>
        <th class="title" width="40%" style="font-size: 30px;">REPORTE DE SERVICIO</th>
        <td class="code" width="20%">Codigo</td>
      </tr>
    </thead>
  </table>

  <table id="table" class="table-info">
    <thead>
      <tr>
        <td class="title-td" >Oficina</td>
        <td class="info-td"></th>
        <td class="title-td" > N Reporte</td>
        <td class="info-td" ></td>
      </tr>
       <tr>
        <td class="title-td" >Cliente </td>
        <td class="info-td" ><%=@customer_report.cost_center.customer.name if @customer_report.cost_center.customer %></th>
        <td class="title-td" >Contacto</td>
        <td class="info-td" ><%=@customer_report.cost_center.contact.name if @customer_report.cost_center.contact %></td>
      </tr>
      <tr>
        <td class="title-td" >Direccion </td>
        <td class="info-td" ></th>
        <td class="title-td" >Telefono</td>
        <td class="info-td" ></td>
      </tr>
        <tr>
        <td class="title-td" >Cotizacion # </td>
        <td class="info-td" ></th>
        <td class="title-td" >Forma de Pago</td>
        <td class="info-td" ></td>
      </tr>
        <tr>
        <td class="title-td" >Orden de Compra #</td>
        <td class="info-td" ></th>
        <td class="title-td" >Factura #</td>
        <td class="info-td" ></td>
      </tr>
    </thead>
  </table>

  <br><br>

 
    <table id="customers">
      <thead>
           <tr>
          <th class="title-header text-center" style=" text-align: center;" colspan="5">ACTIVIDADES</th>
             </tr>
        <tr>
          <th class="title-header text-center" style=" text-align: center;" colspan="1">FECHA</th>
          <th class="title-header text-center" style=" text-align: center;">HORAS</th>
          <th class="title-header text-center" style=" text-align: center;">EMPLEADO</th>
          <th class="title-header text-center" style=" text-align: center;">DESCRIPCION</th>
          <th class="title-header text-center" style=" text-align: center;">APROBO</th>
        </tr>
      </thead>

      <tbody >
        <% @customer_report.reports.each do |report|%>
        <tr>
          <td style="width: 12%; text-align: center;"><%=report.report_date%></td>
          <td style="width: 12%; text-align: center;"><%=report.working_time%></td>
          <td style="width: 12%; text-align: center;"><%=report.report_execute.names %> <%=report.report_execute.last_names%></td>
          <td style="width: 50%"><%=report.work_description%></td>
          <td style="width: 12%"><%=report.work_description%></td>
        </tr>
        <%end%>
    
      </tbody>
    </table>
      <br><br>

      <table id="table" class="table-info move">
    <thead>
        <tr>
        <td class="title-td" colspan="2" > Recibí a conformidad y plena satisfacción  el servicio descrito</td>
        <td class="title-td" colspan="2">EMPLEADO CONTROLMATICA S.A.S</th>
    
      </tr>
      <tr>
        <td class="title-td" >Nombre</td>
        <td class="info-td"></th>
        <td class="title-td" > Nombre</td>
        <td class="info-td" ></td>
      </tr>
       <tr>
        <td class="title-td" >Cargo</td>
        <td class="info-td" ><%=@customer_report.cost_center.customer.name if @customer_report.cost_center.customer %></th>
        <td class="title-td" >Firma</td>
        <td class="info-td" ><%=@customer_report.cost_center.contact.name if @customer_report.cost_center.contact %></td>
      </tr>
      <tr>
        <td class="title-td" >Firma </td>
        <td class="info-td" ></th>
    
      </tr>
       
  
    </thead>
  </table>


</div>

<style type="text/css" media="screen">
.title-td{
  padding-left: 30px !important;
}
.info-td{
  border-bottom: 1px solid gray;
  width: 33%;
  padding-right: 20px;
}
.table-info td
{
  font-size: 20px !important;
  padding: 5px;
}
  .move{
    position: absolute;
    top: 1140px;
  }
  #customers {
    border-collapse: collapse;
    width: 1300px;
    margin-left: 0px;
  }
  #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
  }
  #text-show{
    border-right: none;
    border-top: none;
    border-left: none;
    width: 1300px;
    margin-right: 15px;
  }
  #customers tr:nth-child(even){}
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2a3f54;
    color: white;
  }
  #table2{
    border-collapse: collapse;
    width: 99%;
    margin-left: 5px;
  }
  .contenido2{
    width: 1300px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contenido3{
    width: 1300px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contenido3 p{
    display: inline-block;
  }
  .contenido2 p{
    display: inline-block;
  }
  .contenido p{
    margin-top: 3px;
    margin-bottom: 3px;
  }
  #table{
    width: 1300px;
    border-collapse: collapse;
  }
  .contenido{
    border: 1px solid black !important;
    padding: 10px !important;
   width: 1300px;
     
  }
  #title-date{
    border: 1px solid black !important;
    text-align: center;
    width: 1300px !important;
  }
  .title-header{
    text-align: center
  }
  .text{
    display: block;
  }
  .title{
    padding: 20px;
    border: 1px solid black !important;
    text-align: center;
    width: 30% !important;
  }
  .code{
    border: 1px solid black !important;
    text-align: center;
  }
  .only-border{
        border-top: 1px solid black !important; 
  }
</style>
