<div class="row">
	<div class="col-md-12">
     <h3 class="text-center mb-4">RELACIÓN DE GASTOS <%= current_user.names.upcase if current_user.rol_user == "Ingeniero"%></h3></div>

      <div class="col-md-6 offset-md-3">
         <div class="card card-table">
            <div class="card-body">
               <%= form_tag expense_ratios_path,  method: :post do %>
                  <div class="row">
                     <div class="col-md-6 mb-3">   
                        <label>Seleccione Empleado</label>
                        <%= select_tag 'user_report_id', options_for_select(User.all.collect{ |u| [u.names, u.id] }),{:class => "form1 form form-control", :prompt => 'Selecciona un Empleado', id: "", :required => true}%>
                     </div>

                     <div class="col-md-6 mb-3">   
                        <label>Seleccione director</label>
                        <%= select_tag 'user_direction_id', options_for_select(User.all.collect{ |u| [u.names, u.id] }),{:class => "form1 form form-control", :prompt => 'Selecciona un Empleado', id: "", :required => true}%>
                     </div>

                     <div class="col-md-12 mb-3">   
                        <label>Observaciones</label>
                        <%= text_area_tag 'observations', nil,  :class => "form1 form form-control", :rows => 10, :required => true %>
                     </div>

                     <div class="col-md-6 mb-3">
                        <label>Fecha Desde</label>
                        <%= date_field_tag :start_date, nil ,class: "form form-control", :required => true %>
                     </div>
                  
                     <div class="col-md-6 mb-3">
                        <label>Fecha Hasta</label>
                        <%= date_field_tag :end_date, nil, class: "form form-control", :required => true %>
                     </div>

                     <div class="col-md-6 mb-3">
                        <label>Fecha de creación</label>
                        <%= date_field_tag :creation_date, nil, class: "form form-control", :required => true %>
                     </div>

                     <div class="col-md-6">   
                        <label>Area</label>
                        <%= text_field_tag 'area', nil,  :class => "form1 form form-control", :required => true %>
                     </div>
                  </div>

                  <%= button_tag "Generar", :formtarget => "_blank" , class: "btn btn-secondary btn-lg btn-block", disabled: false %>
               <% end %>
            </div>
         </div>
      </div>

   </div>
</div>
