
<section class="login-fullscreen">
  <div class="login-glass-card">
    <div class="login-avatar">
      <img src="http://controlmatica.com.co/images/controlmatica/controlmatica-logo-03.png" alt="Controlmatica">
    </div>
    <h1 class="login-title">Nueva Contraseña</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "login-glass-form" }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="login-field">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "login-input", placeholder: "Nueva contraseña" %>
      </div>
      <div class="login-field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "login-input", placeholder: "Confirmar contraseña" %>
      </div>
      <div class="login-actions">
        <%= f.submit "Actualizar", class: "login-btn" %>
      </div>
      <div class="login-links">
        <%- if controller_name != 'sessions' %>
          <%= link_to "Volver al inicio", new_session_path(resource_name), class: "login-link" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
