<%= javascript_pack_tag 'Users' %> 
<%= react_component('Users', rol: get_rol) %>


<!--
<div class="x_content">
  <div class="container-fluid no-padding">

    <div class="col-md-8 no-paddong-left">
          <h1>Usuarios </h1>
    </div>

    <div class="col-md-4 float margin_top" >
          <%= link_to 'Nuevo Usuario', new_users_path, class: "btn btn-dark float" %>
    </div>

  </div>

  <table class="table table-striped jambo_table bulk_action">
    <thead>
        <tr class="headings">
	        <th class="text-center">Avatar</th>
	        <th>Nombre</th>
	        <th>Apellido</th>
	        <th>Tipo de Documento</th>
	        <th>Numero de Documento</th>
	        <th>Rol</th>
	        <th>Email</th>
          <th colspan="2" class="text-center">Acciones</th>
      	</tr>
    </thead>

  <tbody>
    <% @user.each do |user| %>
      <tr class="even pointer">
        <tr>
	        <td class="text-center">
	        	<%=  user.avatar? ? image_tag(user.avatar_url(),id: "user") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "user" )%>
	        </td>
	        <td><%= user.names %></td>
	        <td><%= user.last_names %></td>
	        <td><%= user.document_type %></td>
	        <td><%= user.number_document %></td>
	        <td class="text-center"><%= user.rol_user if user.rol_user %></td>
	        <td><%= user.email %></td>

          <td>

            <a href="/user/<%= user.id %>" class="btn" data-method="delete" data-toggle="tooltip" data-placement="top" title="Eliminar Usuario" data-confirm="Estas Seguro?">
                              <i class="fas fa-trash-alt"></i>
            </a>
          </td>

          <td>
                        <%= link_to user_edit_path(user.id), data: {toggle: "tooltip", placement: "bottom", turbolinks: false }, title: "Editar", class: "btn" do %>
                <i class="fas fa-pencil-alt"></i>
            <% end -%>
          </td>
      	</tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
    <% if flash[:success].present? %>
    toastr["success"]("<%= flash[:success] %>");
  <% end %>

  <% if flash[:delete].present? %>
    toastr["info"]("<%= flash[:delete] %>");
  <% end %>
</script>

<style>
  .menu{
  padding: 5px 5px;
}

#user{
	height: 53px;
	width: 53px;
    border-radius: 50%;
}

.user{
	height: 53px;
    border-radius: 50%;
}
</style>

-->