<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
         <div class="row x_title">
            <div class="col-md-6 no-paddong-left">
              <%if action_name == "new" %>
                <h3>Nuevo Cliente</h3>
              <% else %>
                <h3>Editar Cliente</h3>
              <% end -%>
            </div>
         </div>

      <%= nested_form_for(@customer, local: true, id: "contact_form") do |form| %>

        <% if customer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(customer.errors.count, "error") %> al guardar</h2>

            <ul>
            <% customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
        
          <div class="col-md-4">
            <label>Nombre</label>
            <%= form.text_field :name, class: "form-control", :placeholder => "Nombre" %>
          </div>

          <div class="col-md-4">
            <label>Email</label>
            <%= form.email_field :email, class: "form-control", :placeholder => "Email" %>
          </div>

          <div class="col-md-4">
            <label>Nit</label>
              <%= form.text_field :nit, class: "form-control", :placeholder => "Nit"%>
          </div>

        </div>

        <div class="row mt-4 mb-4">

            <div class="col-md-4">
              <label>Telefono</label>
                <%= form.text_field :phone, class: "form-control", :placeholder => "Telefono" %>
            </div>

            <div class="col-md-4">
              <label>Dirección</label>
                <%= form.text_field :address, class: "form-control", :placeholder => "Direccion" %>
            </div>


            <div class="col-md-4">
              <label>Prefijo <span style="font-size: 12px;">(Se usa para organizar los codigos Eje: RTC-REP-01)</span></label>
              <%= form.text_field :code, class: "form-control", :placeholder => "Prefijo", :required => true, maxlength: 4%>
            </div>

        </div>

        <%= form.fields_for :contacts do |contact|  %>
            <div class="col-md-12" > 
              <div class="row">
                <div class="col-md-3">
                  <%= contact.label "Nombre", class: "label-nester" %>
                  <%= contact.text_field :name, :class => 'form-control', :placeholder => "Nombre" %>
                </div>

                <div class="col-md-3">
                    <%= contact.label "Celular" %>
                    <%= contact.number_field :phone, :class => 'form-control', :placeholder => "Celular" %>
                </div>


                <div class="col-md-3">
                    <%= contact.label "Email" %>
                    <%= contact.email_field :email, :class => 'form-control', autocomplete: "email", :placeholder => "Email" %>
                    <br>
                </div>

                <div class="col-md-3">
                    <%= contact.label "Cargo" %>
                    <%= contact.text_field :position, :class => 'form-control', autocomplete: "Cargo", :placeholder => "Cargo" %>
                    <br>
                </div>

                <div class="col-md-12 text-right">
                    <%= contact.link_to_remove :class => "btn btn-danger btn-nester" do %>
                        <i class="fas fa-trash-alt"></i> Cerrar
                    <% end -%>
                </div>




                <%= contact.hidden_field :user_id ,:value =>  current_user.id %>
                <%= contact.hidden_field :id, class: "items" if action_name == "edit" %> 

              </div>
            </div>
        <% end %>

        <div class="col-md-12 pl-0">
            <%= form.link_to_add "Agregar Contacto", :contacts, :class => 'btn btn-dark'  %>
        </div>



      <%= form.hidden_field :user_id , :value => current_user.id%>

        <div class="modal-footer pr-0 mt-4">
          <%= link_to "Volver", :back %>
          <%= form.submit "Guardar", class: "btn btn-dark" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
