<div class="content-table">

	<table id="table">
		<thead>
			<tr>
				<th class="title">CONTROLMATICA S.A.S</th>
				<th class="title">REPORTE DE SERVICIO</th>
				<td class="code">Codigo</td>
			</tr>
		</thead>
	</table>

	<div class="contenido2">
		<p><b>Contacto: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
		<p><b>Contacto: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
	</div>

	<div class="contenido2">
		<p><b>Contacto: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
		<p><b>Contacto: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
	</div>

	<div class="contenido">
		<p align="center"><b>ACTIVIDADES</b></p>
	</div>
		<table id="customers">
			<thead>
				<tr>
					<th class="title-header text-center" style=" text-align: center;" colspan="1">FECHA</th>
					<th class="title-header text-center" style=" text-align: center;">HORAS</th>
					<th class="title-header text-center" style=" text-align: center;">EMPLEADO</th>
					<th class="title-header text-center" style=" text-align: center;">DESCRIPCION</th>
				</tr>
			</thead>

			<tbody >
				<% @customer_report.reports.each do |report|%>
				<tr>
					<td style="width: 15%; text-align: center;"><%=report.report_date%></td>
					<td style="width: 10%; text-align: center;"><%=report.working_time%></td>
					<td style="width: 15%; text-align: center;"><%=report.report_execute.names %> <%=report.report_execute.last_names%></td>
					<td style="width: 60%"><%=report.work_description%></td>
				</tr>
				<%end%>
		
			</tbody>
		</table>
			<br><br>
	<div class="contenido3 move">
		<h3>EMPLEADO CONTROLMATICA S.A.S</h3>
		<p><b>Nombre: </b></p> <input type="text" name="" value="asdasdasd" id="text-show"><br><br>
		<p><b>Firma: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
	</div>


</div>



