<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
         <div class="row x_title">
            <div class="col-md-6">
              <%if action_name == "new" %>
                <h3>Nuevo Centro de Costo</h3>
              <% else %>
                <h3>Editar Centro de Costo</h3>
              <% end -%>
            </div>
         </div>
          <%= form_with(model: cost_center, local: true, :html => {:id => "contact_form"}) do |form| %>
            <% if cost_center.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(cost_center.errors.count, "error") %> prohibited this cost_center from being saved:</h2>

                <ul>
                <% cost_center.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <div class="col-md-4 no-paddong-left">
                <label>Cliente</label>
                <%= select_tag 'customer_id', options_for_select(get_customer.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control required", include_blank: true, :title => "Seleccione Un Cliente"  }%>
              </div>

              <div class="col-md-4 no-paddong-left">
                <label>Contacto</label>
                <%= select_tag 'contact_id', options_for_select(get_contact.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control required", include_blank: true, :title => "Seleccione Un Contacto"  }%>
              </div>

              <div class="col-md-4 no-paddong-left margin-bottom">
                <label>Tipo de Servicio</label>
                <%= select_tag 'service_type', options_for_select(get_contact.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control required", include_blank: true, :title => "Seleccione Tipo Servicio"  }%>
              </div>
            </div>

            <div class="col-md-4 no-paddong-left">
              <%= form.label "Fecha de inicio" %><br>
              <%= form.text_field :start_date, class: "form-control", id: "datepicker", :placeholder => "Fecha de inicio"%>
            </div>

            <div class="col-md-4 no-paddong-left">
              <%= form.label "Fecha final" %><br>
              <%= form.text_field :end_date, class: "form-control", id: "datepicker1", :placeholder => "Fecha final" %>
            </div>

            <div class="col-md-4 no-paddong-left">
              <%= form.label "Número de Cotización" %>
              <%= form.number_field :quotation_number, class: "form-control", :placeholder => "Número de Cotización"  %>
            </div>


            <div class="col-md-12 no-paddong-left">
              <%= form.label "Descripción" %>
              <%= form.text_area :description, class: "form-control textarea", :rows => 10  %>
              <br>
            </div>

            <div class="col-md-4  no-paddong-left">
              <%= form.label "Valor de ingeniería" %>
              <%= form.number_field :engineering_value, class: "form-control", :placeholder => "Valor de ingeniería" %>
            </div>

            <div class="col-md-4">
              <%= form.label "Valor de viatico" %>
              <%= form.number_field :viatic_value, class: "form-control", :placeholder => "Valor de viatico" %>
              <br>
            </div>

  
              <%= form.hidden_field :execution_state %>
              <%= form.hidden_field :invoiced_state %>

            <div class="col-md-12 no-paddong-left">
              <%= form.submit "Guardar", class: "btn btn-dark"%>
              <%= link_to "Volver", :back %>
            </div>
          <% end %>

        </div>  
    </div>
</div>

<script type="text/javascript">
 // $('.datepicker').datepicker({
    //format: 'mm/dd/yyyy',
    //startDate: '-3d'
//});

$(document).ready(function () {
    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap'

    });
});

$(document).ready(function () {
    $('#datepicker1').datepicker({
      uiLibrary: 'bootstrap'
    });
});

$('#contact_form').validate();

</script>