<div class="x_content">

  <div class="container-fluid no-padding">

    <div class="col-md-8 no-paddong-left">
          <h1>Centro de Costos Creados</h1>
          <span class="count"><%= @cost_centers.count %></span>
          <p id="count-pages"><%= page_cost_centers_info @cost_centers %></p>
    </div>

    <div class="col-md-4 float margin_top" >
          <%= link_to 'Nuevo Centro de Costo', new_cost_center_path, class: "btn btn-dark float" %>
    </div>

  </div>

  <div class="content">
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
    <tr>
      <th style="text-align: center;">Acciones</th>
      <th>Codigo</th>
      <th>Cliente</th>
      <th>Contacto</th>
      <th>Tipo de Servicio</th>
      <th>Descripcion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha Final</th>
      <th>Número de cotización</th>
      <th>$ Ingeniería Cotizado</th>
      <th>$ Ingeniería Ejecutado</th>
      <th>$ Viaticos Cotizado</th>
      <th>$ Viaticos Real</th>
      <th>Estado de ejecución</th>
      <th>Estado facturado</th>
      
    </tr>
  </thead>

  <tbody>
    <% @cost_centers.each do |cost_center| %>
      <tr>
        <%ing_cotizado = cost_center.engineering_value
          ing_real = cost_center.reports.sum(:working_value)
          via_cotizado = cost_center.viatic_value
          via_real = cost_center.reports.sum(:viatic_value)
        %>

        <td style="text-align: center;">

          <div class="dropdown">
            <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-align-left"></i>
            </button>
            <div class="dropdown-menu">

              <div class="col-md-12 menu" >  
                <%= link_to cost_center, class: "dropdown-item" do %>
                  <i class="far fa-eye"></i> Ver Registro
                <% end -%>
              </div>

              <div class="col-md-12 menu">  
                <%= link_to edit_cost_center_path(cost_center), class: "dropdown-item" do %>
                  <i class="fas fa-pencil-alt"></i> Editar Registro
                <% end -%>
              </div>

              <div class="col-md-12 menu">  
                <%= link_to cost_center, method: :delete, data: {
                  confirm: '¿Estas Seguro?',
                  'confirm-button-text': 'Borrar',
                  'cancel-button-text': 'Cancelar',
                  'confirm-button-color': '#CC0000',
                   text: 'Recuerda que el registro se borrara permanentemente',
                  'image-url': ''}, class: "dropdown-item" do %>
                  <span class="glyphicon glyphicon-trash"></span> Eliminar 
                <% end -%>
              </div>

            </div>
          </div>

        </td>
        <td><%= cost_center.code %></td>
        <td><%= cost_center.customer.name %></td>
        <td><%= cost_center.contact.name %></td>
        <td><%= cost_center.service_type %></td>
        <td><%= cost_center.description %></td>
        <td><%= get_date(cost_center.start_date) %></td>
        <td><%= get_date(cost_center.end_date) %></td>
        <td><%= cost_center.quotation_number %></td>
        <td><%=  number_to_currency(ing_cotizado, precision: 0) %></td>
        
        <td style="color:<%=color_value(ing_cotizado, ing_real)%>"><%=  number_to_currency(ing_real , precision: 0) %></td>
        <td><%=  number_to_currency(via_cotizado , precision: 0) %></td>
        <td style="color:<%=color_value(via_cotizado, via_real)%>"><%=  number_to_currency(via_real , precision: 0)  %></td>
        <td><%= cost_center.execution_state %></td>
        <td><%= cost_center.invoiced_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<style type="text/css">
.content
{
  max-height: 500px; 
  height: 500px; 
  max-width: 100%;
  

}
.content table
{
  width: 2000px;
    
}
.table-responsive
{
  height: 500px;
}
.menu{
  padding: 5px 5px;
}
</style>