<%= link_to "Volver", cost_centers_path , class: "btn btn-primary"%>
<%= link_to "Editar", edit_cost_center_path(@cost_center.id) , class: "btn btn-primary"%>

    <% ing_cotizado = @cost_center.engineering_value

          ing_real = @cost_center.reports.sum(:working_value)
          via_cotizado = @cost_center.viatic_value
          via_real = @cost_center.reports.sum(:viatic_value)

          horas_eje = @cost_center.reports.sum(:working_time)

          facturacion = @cost_center.customer_invoices.sum(:invoice_value)

          porc_eje =  @cost_center.eng_hours > 0 ? ((horas_eje.to_f/@cost_center.eng_hours)*100).to_i : "N/A"

          costo_real_en_dinero = @cost_center.hour_real * horas_eje
          costo_en_dinero = @cost_center.hour_real * @cost_center.eng_hours

          porc_eje_costo =  costo_en_dinero > 0 ? (((costo_real_en_dinero.to_f/costo_en_dinero)*100)).to_i : "N/A"

          porc_via =  via_cotizado > 0 ? ((via_real.to_f/via_cotizado)*100).to_i : "N/A" 

          porc_fac =  @cost_center.quotation_value > 0 ? ((facturacion.to_f/@cost_center.quotation_value)*100).to_i : "N/A" 

          total_eje = @cost_center.hour_real * horas_eje

          total_cot= @cost_center.hour_cotizada * horas_eje

          total_margen = total_cot - total_eje 

          porc_ejec =  total_cot > 0 ? ((total_margen.to_f/total_cot)*100).to_i : "N/A" 


          
        %>
<div class="show-content">
  <div class="row titulos">
    <div class="col-md-6 text-center">
      <strong> Estado Ejecucion:</strong> <br>
      <%= @cost_center.execution_state %>
    </div>

    <div class="col-md-6 text-center"><strong>Estado Facturacion:</strong> <br>
      <%= @cost_center.invoiced_state %>
    </div>
 
     </div>

        <hr>
    <div class="row titulos">
    <div class="col-md-3">
      <strong> Tipo:</strong> 
      <%= @cost_center.service_type %>
    </div>

    <div class="col-md-3"><strong>Codigo:</strong> 
      <%= @cost_center.code %>
    </div>

    <div class="col-md-3">
      <strong>Cliente:</strong>
       <%= @cost_center.customer.name %>
     </div>

    <div class="col-md-3">
      <strong>Contacto:</strong>
       <%= @cost_center.contact.name %>
     </div>

    <div class="col-md-3">
      <strong>Fecha de Inicio:</strong> 
      <%= get_date(@cost_center.start_date) %>
    </div>

    <div class="col-md-3">
      <strong>Fecha Final:</strong> 
      <%= get_date(@cost_center.end_date) %>
    </div>

    <div class="col-md-3">
      <strong>Numero de Cotizacion:</strong> 
      <%= @cost_center.quotation_number.gsub(/^\(+|\)+$/, ''); %>
    </div>
    <div class="col-md-3">
      <strong>Horas Trabajadas:</strong> 
      <%= @cost_center.quotation_number %>
    </div>

 </div>

  <hr>

  <div class="row titulos"> 
    <div class="col-md-6"><strong>Descripción: </strong><%= @cost_center.description %></div>
  </div>

  <hr>

 <div class="row valores">
     
  <div class="col-md-6">
     <div class="col-md-12 title1">
        <strong>Ingenieria</strong><br>
    </div>



    <div class="col-md-12">
       <!--<div class="col-md-6 "><strong>Cotizado</strong><br>
          <span> <%= number_to_currency(ing_cotizado , precision: 0) %></span>
       </div>
      <div class="col-md-6">   <strong>Ejecutado</strong><br> 
         <span style="color:<%= color_value(ing_cotizado, ing_real)%>"> <%= number_to_currency(ing_real, precision: 0) %></span>
      </div>-->

      <div class="col-md-4 "><strong>Cotizado</strong><br>
          <span> <%= @cost_center.eng_hours.to_i %> (horas)</span>
       </div>
      <div class="col-md-4">   <strong>Ejecutado</strong><br> 
         <span style=""> <%= horas_eje%>  (horas)</span>
      </div>
      <div class="col-md-4">   <strong>Avance</strong><br> 
         <span style=""> <%= porc_eje%>%</span>
      </div>


    </div>

  </div> 

  <div class="col-md-6">
     <div class="col-md-12 title1" >
        <strong>Viaticos</strong><br>
    </div>



    <div class="col-md-12">
       <div class="col-md-4 " ><strong>Cotizado</strong><br>
          <span> <%= number_to_currency(via_cotizado , precision: 0) %></span>
       </div>
      <div class="col-md-4">   <strong>Gastado</strong><br> 
         <span style=""> <%= number_to_currency(via_real, precision: 0) %></span>
      </div>

      <div class="col-md-4">   <strong></strong><br> 
         <span > <%= porc_via %>%</span>
      </div>
    </div>

  </div> 



</div>

<br> <hr>

<div class="row valores">
     
  <div class="col-md-6">
     <div class="col-md-12 title1">
        <strong>Costos</strong><br>
    </div>



    <div class="col-md-12">
       <!--<div class="col-md-6 "><strong>Cotizado</strong><br>
          <span> <%= number_to_currency(ing_cotizado , precision: 0) %></span>
       </div>
      <div class="col-md-6">   <strong>Ejecutado</strong><br> 
         <span style="color:<%= color_value(ing_cotizado, ing_real)%>"> <%= number_to_currency(ing_real, precision: 0) %></span>
      </div>-->

      <div class="col-md-4 "><strong>Ingenieria Cotizada</strong><br>
          <span> <%= number_to_currency(costo_en_dinero , precision: 0) %></span>
       </div>
      <div class="col-md-4">   <strong>Ingenieria Ejecutada</strong><br> 
         <span style=""> <%= number_to_currency(costo_real_en_dinero , precision: 0)%></span>
      </div>
      <div class="col-md-4">   <strong>Avance</strong><br> 
         <span style=""> <%= porc_eje_costo  %>%</span>
      </div>


    </div>

  </div> 

  <div class="col-md-6">
     <div class="col-md-12 title1" >
        <strong>Facturacion</strong><br>
    </div>



    <div class="col-md-12">
       <div class="col-md-4 " ><strong>Cotizado</strong><br>
          <span> <%= number_to_currency(@cost_center.quotation_value, precision: 0) %></span>
       </div>
      <div class="col-md-4">   <strong>Facturado</strong><br> 
         <span style=""> <%= number_to_currency(facturacion , precision: 0) %></span>
      </div>

      <div class="col-md-4">   <strong></strong><br> 
         <span > <%= porc_fac %>%</span>
      </div>
    </div>

  </div> 


  
</div>


<br><br>
<hr>

<div class="row">
  <div class="row">

    <div class="col-md-7 margin-left">
      <h3>Ordenes de Compra</h3>
    </div>

    <div class="col-md-3 float">
       <%= link_to "Ingresar Orden de Compra", new_sales_order_path(:cost_center_id => @cost_center.id ), remote: true, class: "btn btn-dark" %>
    </div>

  </div>


  
<% @cost_center.sales_orders.each do |sales_order| %>
  <div class="row order">

      <div class="col-md-3">
        <strong> Fecha de Generacion:</strong> 
        <p><%= get_date(sales_order.created_date) %></p>
      </div>

      <div class="col-md-3">
        <strong>Numero:</strong> 
        <p><%= sales_order.order_number %></p>
      </div>

      <div class="col-md-3">
        <strong>Valor:</strong> 
        <p><%=  number_to_currency(sales_order.order_value , precision: 0)%></p>
      </div>

      <div class="col-md-1">

        <% if sales_order.order_file.present? %>
          <label>Archivo</label><br>
            <%= link_to sales_order.order_file.url(), class: "btn btn-dark", target:"_blank" do %>
              <i class="fas fa-download"></i>
            <% end -%>
        <% end -%>

      </div>


      <div class="float">
        <div class="dropdown">

              <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-bars"></i>
              </button>
              <div class="dropdown-menu">

                <div class="col-md-12 menu">  
                  <%= link_to sales_order, class: "dropdown-item" do %>
                    <i class="far fa-eye"></i> Ver Registro
                  <% end -%>
                </div>

                <div class="col-md-12 menu">  
                  <%= link_to edit_sales_order_path(sales_order), class: "dropdown-item", remote: true do %>
                    <i class="fas fa-pencil-alt"></i> Editar Registro
                  <% end -%>
                </div>

                <div class="col-md-12 menu">  
                  <%= link_to sales_order, method: :delete, data: {
                    confirm: '¿Estas Seguro?',
                    'confirm-button-text': 'Borrar',
                    'cancel-button-text': 'Cancelar',
                    'confirm-button-color': '#CC0000',
                     text: 'Recuerda que el registro se borrara permanentemente',
                    'image-url': ''}, class: "dropdown-item" do %>
                    <span class="glyphicon glyphicon-trash"></span> Eliminar 
                  <% end -%>
                </div>

              </div>
        </div>
      </div>

      <div class="col-md-12">
        <hr class="hr">
      </div>

      <div class="col-md-12 no-padding-left">

        <div class="col-md-3 float" style="width: 21%">
          <%= link_to "Nueva Factura del cliente", new_customer_invoice_path(cost_center_id: @cost_center.id, sales_order: sales_order.id ), remote: true, class: "btn btn-dark" %>
        </div>
        <% if sales_order.customer_invoices.any? %>
        <div class="card card-info col-md-9">
          <div class="card-body">
           <% sales_order.customer_invoices.each do |customer_invoice| %>
              <div class="col-md-12"><hr> </div>
                 <div class="float">
                    <div class="dropdown">

                          <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-bars"></i>
                          </button>
                          <div class="dropdown-menu">

                            <div class="col-md-12 menu">  
                              <%= link_to customer_invoice, class: "dropdown-item" do %>
                                <i class="far fa-eye"></i> Ver Registro
                              <% end -%>
                            </div>

                            <div class="col-md-12 menu">  
                              <%= link_to edit_customer_invoice_path(customer_invoice), class: "dropdown-item", remote: true do %>
                                <i class="fas fa-pencil-alt"></i> Editar Registro
                              <% end -%>
                            </div>

                            <div class="col-md-12 menu">  
                              <%= link_to customer_invoice, method: :delete, data: {
                                confirm: '¿Estas Seguro?',
                                'confirm-button-text': 'Borrar',
                                'cancel-button-text': 'Cancelar',
                                'confirm-button-color': '#CC0000',
                                 text: 'Recuerda que el registro se borrara permanentemente',
                                'image-url': ''}, class: "dropdown-item" do %>
                                <span class="glyphicon glyphicon-trash"></span> Eliminar 
                              <% end -%>
                            </div>

                          </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <strong> Fecha de Factura:</strong> 
                    <p><%= get_date(customer_invoice.invoice_date) %></p>
                  </div>

                  <div class="col-md-3">
                    <strong>Valor de la factura:</strong> 
                    <p><%=  number_to_currency(customer_invoice.invoice_value , precision: 0)%></p>
                  </div>

                  <div class="col-md-5">

                    <% if customer_invoice.delivery_certificate_file.present? %>
                        <%= link_to customer_invoice.delivery_certificate_file.url(), class: "btn btn-dark", target:"_blank" do %>
                        <i class="fas fa-download"></i> Entrega
                        <% end -%>

                    <% end -%>


                    <% if customer_invoice.reception_report_file.present? %>
                        <%= link_to customer_invoice.reception_report_file.url(), class: "btn btn-dark", target:"_blank" do %>
                          <i class="fas fa-download"></i> Recepcion
                        <% end -%>

                    <% end -%>

                   </div>

                  <div class="col-md-12"><hr> </div>

            <% end %>
          </div>
        </div>

        <% end -%>

      </div>

  </div>
  <br>
<% end %>

<!--
    <% @cost_center.customer_invoices.each do |customer_invoice| %>
      
     <div class="float">
        <div class="dropdown">

              <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-bars"></i>
              </button>
              <div class="dropdown-menu">

                <div class="col-md-12 no-padding-left">  
                  <%= link_to customer_invoice, class: "dropdown-item" do %>
                    <i class="far fa-eye"></i> Ver Registro
                  <% end -%>
                </div>

                <div class="col-md-12 no-padding-left">  
                  <%= link_to edit_customer_invoice_path(customer_invoice), class: "dropdown-item", remote: true do %>
                    <i class="fas fa-pencil-alt"></i> Editar Registro
                  <% end -%>
                </div>

                <div class="col-md-12 no-padding-left">  
                  <%= link_to customer_invoice, method: :delete, data: {
                    confirm: '¿Estas Seguro?',
                    'confirm-button-text': 'Borrar',
                    'cancel-button-text': 'Cancelar',
                    'confirm-button-color': '#CC0000',
                     text: 'Recuerda que el registro se borrara permanentemente',
                    'image-url': ''}, class: "dropdown-item" do %>
                    <span class="glyphicon glyphicon-trash"></span> Eliminar 
                  <% end -%>
                </div>

              </div>
        </div>
      </div>

      <div class="col-md-3">
        <strong> Fecha de Factura:</strong> 
        <p><%= get_date(customer_invoice.invoice_date) %></p>
      </div>

      <div class="col-md-3">
        <strong>Valor de la factura:</strong> 
        <p><%= customer_invoice.invoice_value %></p>
      </div>

      <div class="col-md-12"><hr> </div>
      <div class="col-md-12">

        <% if customer_invoice.delivery_certificate_file.present? %>
            <%= link_to customer_invoice.delivery_certificate_file.url(), class: "btn btn-dark", target:"_blank" do %>
            <i class="fas fa-download"></i>
            <% end -%>

        <% end -%>


        <% if customer_invoice.reception_report_file.present? %>
            <%= link_to customer_invoice.reception_report_file.url(), class: "btn btn-dark", target:"_blank" do %>
              <i class="fas fa-download"></i>
            <% end -%>

        <% end -%>

      </div>
  <% end %>
-->
</div>
<!--
  <strong>Execution state:</strong>
  <%= @cost_center.execution_state %>
</p>

<p>
  <strong>Invoiced state:</strong>
  <%= @cost_center.invoiced_state %>
</p>-->



<style >

  .order{
    background: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    margin-left: 11px;
    margin-right: 13px;
  }

  .card-info{
    background: #fff;
    overflow: scroll;
    max-height: 500px; 
    height: 142px; 
    max-width: 100%;
    padding: 10px;
  }

  .dropdown-menu{
    padding: 7px;
    position: absolute;
    top: 41px;
    left: -117px;
  }

  .float{
    float: right;
    padding-right: 0px;
  }

  .margin-left{
    margin-left: 10px;
  }

  .titulos .col-md-3{
    padding: 10px;
  }

  .valores {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }

  .title1 {
    background: #2a3f54;
    color: white;
  }

  .show-content{
    background: white;
    padding: 10px;
 
  }
.menu{
  padding: 5px 5px;
}
</style>