
        <% if notice.present? %>
          <div class="container" style="margin-bottom: 50px">
              <div class="col-md-12" style="padding: 0;">
                <div id="notice" class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= notice %>
                
                </div>
              
              </div>
            </div>
        <% end%>

    <section class="login-content">
      <div class="logo">
        <img src="http://controlmatica.com.co/images/controlmatica/controlmatica-logo-03.png">
      </div>
      <div class="login-box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "login-form"}) do |f| %>
          <div class="form-group">
            <label class="control-label">Email</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :placeholder => "Email" %>
          </div>
          <div class="form-group">
            <label class="control-label">contrase침a</label>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", :placeholder => "Contrase침a" %>
          </div>
          <div class="col-md-12 text-center mb-4">
              <p class="semibold-text mb-2">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Olvid칩 su contrase침a?", new_password_path(resource_name) %><br />
                <% end %>
              </p>
          </div>
          <div class="form-group btn-container">
            <%= f.submit "Ingresar", class: "btn btn-secondary btn-block" %>
          </div>
        <% end %>
      </div>
    </section>
