<div class="content-table">

  <table id="table">
    <thead>
      <tr>
        <th class="title-imagen" width="5%"><img width="120px" src="https://gestionmejora.s3.amazonaws.com/uploads/survey_answer/answer_file/87332/Screen_Shot_2022-01-05_at_10.06.55_AM.png"></th>
        <th class="title" width="40%" style="font-size: 30px;">FORMATO DE SOLICITUD DE APROBACION DE COMISIONES DE INGENIERIA</th>
        <td class="code text-center" width="10%">
          <table class="rev" >
            <tr>
              <td colspan="2">CODIGO</td>
            </tr>
            <tr>
              <td colspan="2" style="border-bottom: 1px solid gray">AD-23</td>
            </tr>
            <tr>
              <td style="border-right: 1px solid gray">VERSION</td>
              <td>FECHA</td>
            </tr>
            <tr>
              <td style="border-right: 1px solid gray">2</td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </thead>
  </table>
 <br><br>

  <table id="table" class="table-info">
    <thead>
        <tr>
          <th class="">FECHA DE SOLICITUD</th>
          <th class="">INGENIERO</th>
          <th class="">AREA</th>
          <th class="">FECHA INICIAL</th>
          <th class="">FECHA FINAL</th>
        </tr>

        <tr>
          <td class=""> <%= @expense_ratio.creation_date %> </td>
          <td class=""> <%= @expense_ratio.user_report.names %> </th>
          <td class=""> <%= @expense_ratio.area %> </td>
          <td class=""> <%= @expense_ratio.start_date %> </td>
          <td class=""> <%= @expense_ratio.end_date %> </td>
        </tr>
        <tr>
          <th class=""></th>
          <th class=""></th>
          <th class=""></th>
          <th class=""></th>
          <th class="">VALOR TOTAL</th>
        </tr>

        <tr>
          <td class=""> </td>
          <td class=""></th>
          <td class="">  </td>
          <td class="">  </td>
          <td class=""> <%= number_to_currency(@commissions.sum(:total_value), precision: 0) %> </td>
        </tr>
    </thead>
  </table>

  <br><br><br>

 
    <table id="customers" style="table-layout:fixed">
        <tr>
          <th class="title-header text-center" style=" text-align: center;" colspan="1">ITEM</th>
          <th class="title-header text-center" style=" text-align: center;">FECHA DE FACTURA</th>
          <th class="title-header text-center" style=" text-align: center;"># FACTURA</th>
          <th class="title-header text-center" style=" text-align: center;"># COTIZACIÓN</th>
          <th class="title-header text-center" style=" text-align: center;">REPORTE CLIENTE</th>
          <th class="title-header text-center" style=" text-align: center;">CLIENTE</th>
          <th class="title-header text-center" style=" text-align: center;">HORAS</th>
          <th class="title-header text-center" style=" text-align: center;">VALOR COMISIÓN</th>
          <th class="title-header text-center" style=" text-align: center;">%</th>          
        </tr>

        <% @commissions.each_with_index do |commission, index| %>
          <tr>
            <td style="text-align: center;"><%= index + 1 %></td>
            <td style="text-align: center;"><%= commission.customer_invoice.invoice_date %></td>
            <td style="text-align: center;"><%= commission.customer_invoice.number_invoice %></td>
            <td style="text-align: center;"><%= commission.cost_center.code %></td></td>
            <td style="text-align: center;"><%= commission.customer_report ? commission.customer_report.report_code  : "" %></td>
            <td style="text-align: center;"><%= commission.cost_center.customer.name %></td>
            <td style="text-align: center;"><%= commission.hours_worked %></td>
            <td style="text-align: center;"><%= number_to_currency(commission.total_value, precision: 0) %></td>
            <td style="text-align: center;">5%</td>

          </tr>
        <% end %>
    </table>
    <br><br><br>



    

      <div class="col-md-12" style="width: 100% !important;position:relative">
        <table id="table-total">
        
          <tr class="float-right">
            <td class="text-center" style=" text-align: left; font-size: 20; font-weight: bold; width: 250px !important" colspan="1">TOTAL</td>
            <td class="text-center" style=" text-align: left; font-size: 20"><%= number_to_currency(@commissions.sum(:total_value), precision: 0) %></td>
          </tr>

        </table>
      </div>
       <br><br><br>
     <div class="table" style="margin-top:80px;margin-bottom:200px;">
        <b>Observaciones</b>
        <p><%= @expense_ratio.observations %></p>
      </div>

    

</div>

<style type="text/css" media="screen">

tr { page-break-inside: avoid !important; }
  .title-td{
    padding-left: 30px !important;
  }

  .info-td{
    border-bottom: 1px solid gray;
    width: 33%;
    padding-right: 20px;
  }

  .table-info td{
    font-size: 20px !important;
    padding: 5px;
    text-align: center;
  }

  .move{
    position: absolute;
    top: 1640px;
  }

  #customers {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0px;
  }

  #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
  }

  #table-total {
    position:absolute;
    right:0px;
    border-collapse: collapse;
    width:400px;
    margin-left: 0px;
  }

  #table-total td, #table-total th {
    border: 1px solid black;
    padding: 8px;
  }

  #text-show{
    border-right: none;
    border-top: none;
    border-left: none;
    width: 1300px;
    margin-right: 15px;
  }

  #customers tr:nth-child(even){}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2a3f54;
    color: white;
  }
  #table2{
    border-collapse: collapse;
    width: 99%;
    margin-left: 5px;
  }

  .contenido2{
    width: 1300px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contenido3{
    width: 1300px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contenido3 p{
    display: inline-block;
  }

  .contenido2 p{
    display: inline-block;
  }

  .contenido p{
    margin-top: 3px;
    margin-bottom: 3px;
  }

  #table{
    width: 100%%;
    border-collapse: collapse;
  }

  .contenido{
    border: 1px solid black !important;
    padding: 10px !important;
    width: 1300px;
  }

  #title-date{
    border: 1px solid black !important;
    text-align: center;
    width: 1300px !important;
  }

  .title-header{
    text-align: center
  }

  .text{
    display: block;
  }

  .title{
    padding: 20px;
    border: 1px solid black !important;
    text-align: center;
    width: 30% !important;
  }
  
  .title-firms{
    padding: 20px;
    text-align: center;
    width: 30% !important;
  }

  .title-imagen{
    padding: 20px;
    border: 1px solid black !important;
    text-align: center;
  }

  .code{
    border: 1px solid black !important;
    text-align: center;
  }

  .only-border{
    border-top: 1px solid black !important; 
  }
  .rev td{
    text-align: center;
    padding: 5px;
  }

  .rev{
    width: 100%;
  }

  .border-imput{
      border-right: initial !important;
      border-top: initial !important;
      border-left: initial !important;
      border-bottom-color: black;
      width: 100% !important;
  }

  .marca_de_agua{
    font-size: 144px;
    position: absolute;
    top: 642px;
    left: 250px;
    font-family: sans-serif;
    color: rgba(228, 228, 228, 0.5803921568627451);
  }

  .row{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md-6{
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
</style>
