<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
         <div class="row x_title">
            <div class="col-md-6 no-paddong-left">
              <% if action_name == "new"%>
                <h3>Nuevo Reporte</h3>
                <% else %>
                <h3>Editar Reporte</h3>
              <% end -%>
            </div>
         </div>
          <%= form_with(model: report, local: true, :html => {:id => "contact_form"}) do |form| %>
            <% if report.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

                <ul>
                <% report.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="col-md-4 no-paddong-left">
                <label>Centro de Costos</label>
                <%= form.select :cost_center_id,
                  CostCenter.all.map { |u| [u.code, u.id] },
                              { include_blank: "Centro de Costos" },
                              { class: 'form-control', id: ""  }
                   %>
            </div>  


            <div class="col-md-4 no-paddong-left">
                <label>Fecha del Reporte</label>
                <%= form.date_field :report_date, class: "form-control required", :placeholder => "Fecha de Reporte", id: "", :title => "Es un Campo Obligatorio" %>
            </div>  
            <div class="col-md-4 no-paddong-left">
                <label>Responsable de Ejecucion</label>
                <%= form.select :report_execute_id,
                  User.all.map { |u| [u.names, u.id] },
                              { include_blank: "Responsable de Ejecución" },
                              { class: 'form-control', id: ""  }
                   %><br>
            </div>  

            <div class="col-md-4 no-paddong-left">
                <label>Tiempo de Trabajo (Horas)</label>
                <%= form.number_field :working_time, class: "form-control required", :placeholder => "Tiempo de Trabajo", :title => "Es un Campo Obligatorio" %>
                <br>
            </div>


            <%= form.hidden_field :report_code, :value => "#FDSE"  %>
            <%= form.hidden_field :user_id , :value =>  current_user.id %>

            <div class="col-md-12 no-paddong-left">
              <%= form.label "Descripcion del Trabajo" %>
              <%= form.text_area :work_description, class: "form-control textarea", :rows => 3, :title => "Es un Campo Obligatorio"  %>
              <br>
            </div>


          <div class="form-group">
            <div class="col-md-4 no-paddong-left">
              <%= form.label "Valor de Viaticos" %>
              <%= form.number_field :viatic_value, class: "form-control required", :title => "Es un Campo Obligatorio" %>
            </div>
          </div>

          <div class="col-md-12 no-paddong-left">
            <br>
            <%= form.label "Descripcion Viaticos" %>
            <%= form.text_area :viatic_description, class: "form-control textarea", :rows => 3 , :title => "Es un Campo Obligatorio" %>
            <br>
          </div>


            <div class="col-md-12 no-paddong-left btn-save">
              <%= form.submit "Guardar", class: "btn btn-dark" %>
              <%= link_to "Volver", reports_path %>
            </div>
          <% end %>

      </div>
   </div>
</div>


<script type="text/javascript">
  $('#contact_form').validate();

  $(document).ready(function () {
    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap'

    });
  });
</script>
