<div class="x_content">

  <div class="container-fluid no-padding">

    <div class="col-md-8 no-paddong-left">
          <h1>Reportes Creados</h1>
          <span class="count"><%= @reports.count %></span>
          <p id="count-pages"><%= page_repor_info @reports %></p>
    </div>

    <div class="col-md-4 float margin_top" >
          <%= link_to 'Nuevo Reporte', new_report_path, class: "btn-new float" %>
    </div>

  </div>
  <div class="content">
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
  <thead>
    <tr>
      <th class="text-center">Acciones</th>
      <th>Codigo</th>
      <th>Centro de Costos</th>
      <th>Fecha de Ejecucion</th>
      <th>Responsable Ejecucion</th>
      <th>Horas Laboradas</th>
      <th>Descripcion del Trabajo</th>
      <th>Valor de los Viaticos</th>
      <th>Descripcion de Viaticos</th>
      <th>Valor del Reporte</th>
    </tr>
  </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
           <td style="text-align: center;">

          <div class="dropdown">
            <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-align-left"></i>
            </button>
            <div class="dropdown-menu">

              <div class="col-md-12 menu">  
                <%= link_to report, class: "dropdown-item" do %>
                  <i class="far fa-eye"></i> Ver Registro
                <% end -%>
              </div>

              <div class="col-md-12 menu">  
                <%= link_to edit_report_path(report), class: "dropdown-item" do %>
                  <i class="fas fa-pencil-alt"></i> Editar Registro
                <% end -%>
              </div>

              <div class="col-md-12 menu">  
                <%= link_to report, method: :delete, data: {
                  confirm: '¿Estas Seguro?',
                  'confirm-button-text': 'Borrar',
                  'cancel-button-text': 'Cancelar',
                  'confirm-button-color': '#CC0000',
                   text: 'Recuerda que el registro se borrara permanentemente',
                  'image-url': ''}, class: "dropdown-item" do %>
                  <span class="glyphicon glyphicon-trash"></span> Eliminar 
                <% end -%>
              </div>

            </div>
          </div>

        </td>
        <td><%= report.code_report %></td>
          <td><%= report.cost_center.code %></td>
          <td><%= get_date(report.report_date) %></td>
          <td><%= report.report_execute.names %></td>
          <td><%= report.working_time %></td>
          <td><%= report.work_description %></td>
          <td><%= number_to_currency(report.viatic_value, precision: 0) %></td>
          <td><%= report.viatic_description %></td>
          <td><%= number_to_currency(report.total_value, precision: 0) %></td>
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
</div>


<style type="text/css">
.content
{
  max-height: 500px; 
  height: 500px; 
  max-width: 100%;
  

}
.content table
{
  width: 1600px;
    
}
.table-responsive
{
  height: 500px;
}
.menu{
  padding: 5px 5px;
}
</style>