<div class="x_content">

  <div class="container-fluid no-padding">

    <div class="col-md-8 no-paddong-left">
          <h1>Reportes Creados</h1>
          <span class="count"><%= @reports.count %></span>
          <p id="count-pages"><%= page_repor_info @reports %></p>
    </div>

    <div class="col-md-4 float margin_top" >
          <%= link_to 'Nuevo Reporte', new_report_path, class: "btn-new float" %>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
  <thead>
    <tr>
      <th>Report date</th>
      <th>User</th>
      <th>Working time</th>
      <th>Work description</th>
      <th>Viatic value</th>
      <th>Viatic description</th>
      <th>Total value</th>
      <th class="title">Acciones</th>
    </tr>
  </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= get_date(report.report_date) %></td>
          <td><%= report.user_id %></td>
          <td><%= report.working_time %></td>
          <td><%= report.work_description %></td>
          <td><%= report.viatic_value %></td>
          <td><%= report.viatic_description %></td>
          <td><%= report.total_value %></td>

          <td>

            <%= link_to report, class: "btn-padding" do %>
              <i class="far fa-eye"></i>
            <% end -%>

            <%= link_to edit_report_path(report), class: "btn-padding", remote: true do %>
              <i class="fas fa-pencil-alt"></i>
            <% end -%>

            <%= link_to report, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "btn-delete" do%>
              <span class="glyphicon glyphicon-trash"></span>
            <% end -%>
              
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>