<%= javascript_pack_tag 'Reports' %> 
<%= react_component('Reports', usuario: current_user, users: User.all, clientes: get_customer) %>
<!--
<div class="x_content">

  <div class="container-fluid no-padding">

    <div class="col-md-8 no-paddong-left">
          <h1>Reportes Creados</h1>
          <span class="count"><%= @reports.count %></span>
          <p id="count-pages"><%= page_repor_info @reports %></p>
    </div>

    <div class="col-md-4 text-right float margin_top" >
          <button class="btn btn-primary float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-search"></i>
          </button>
          <%= link_to 'Nuevo Reporte', new_report_path, class: "btn btn-dark" %>
    </div>

    <div class="<%= params[:search1] || params[:search2] ||  params[:search3] || params[:search4].present? ? "show" : "" %> collapse col-md-12 no-padding" id="collapseExample" style="margin-bottom: 18px;">
       <%= form_tag reports_path, method: "get" do %>
          <div class="row">
            <div class="col-md-3">
              <%= text_field_tag :search1, nil, class: "form form-control", :placeholder => "Descripcion del Trabajo" %>
            </div>

            <div class="col-md-3 no-padding-left">
              <%= select_tag 'search2', options_for_select(User.all.collect{ |u| [u.names, u.id] }),{:class => "form form-control chosen-select1", :prompt => 'Responsable Ejecucion'}%>
            </div>

            <div class="col-md-2 no-padding-left">
              <%= date_field_tag :search3, nil, class: "form form-control", :placeholder => "Descripcion del Trabajo" %>
            </div>

            <div class="col-md-2 no-padding-left">
              <%= select_tag 'search4', options_for_select(get_state_report),{:class => 'form form-control chosen-select2', :prompt => 'Estado'}%>
            </div>

            <div class="col-md-2 text-left no-padding-right">
              <% if params[:search1] || params[:search2] ||  params[:search3] || params[:search4].present? %>
                <%= link_to reports_path, class: "btn btn-danger" do  %>
                  <i class="fas fa-times"></i>
                <% end %>
              <% end -%>
              <button class="btn btn-dark"><i class="fas fa-search"></i> Buscar</button>
            </div>
          </div>
       <% end -%>
    </div>

  </div>
  <div class="content">
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
  <thead>
    <tr>
    
        <th class="text-center">Acciones</th>
  
      <th>Codigo</th>
      <th>Centro de Costos</th>
      <th>Fecha de Ejecucion</th>
      <th>Responsable Ejecucion</th>
      <th>Horas Laboradas</th>
      <th>Descripcion del Trabajo</th>
      <th>Valor de los Viaticos</th>
      <th>Descripcion de Viaticos</th>
      <th>Valor del Reporte</th>
      <th>Estado</th>
    </tr>
  </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          
            <td style="text-align: center;">
              <div class="dropdown">
                <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
                  <i class="fas fa-align-left"></i>
                </button>
                <div class="dropdown-menu">


                  <div class="col-md-12 menu">  
                    <%= link_to edit_report_path(report), class: "dropdown-item" do %>
                      <i class="fas fa-pencil-alt"></i> Editar Registro
                    <% end -%>
                  </div>
                 <% if current_user.rol_user == "Super administrador" %>
                  <div class="col-md-12 menu">  
                    <%= link_to report, method: :delete, data: {
                      confirm: '¿Estas Seguro?',
                      'confirm-button-text': 'Borrar',
                      'cancel-button-text': 'Cancelar',
                      'confirm-button-color': '#CC0000',
                       text: 'Recuerda que el registro se borrara permanentemente',
                      'image-url': ''}, class: "dropdown-item" do %>
                      <span class="glyphicon glyphicon-trash"></span> Eliminar 
                    <% end -%>
                  </div>
                  <%end%>

                </div>
              </div>
            </td>
      
        <td><%= report.code_report %></td>
          <td><%= report.cost_center.code if report.cost_center %></td>
          <td><%= get_date(report.report_date) %></td>
          <td><%= report.report_execute.names if report.report_execute.names %></td>
          <td><%= report.working_time %></td>
          <td><%= report.work_description %></td>
          <td><%= number_to_currency(report.viatic_value, precision: 0) %></td>
          <td><%= report.viatic_description %></td>
          <td><%= number_to_currency(report.total_value, precision: 0) %></td>
           <td><%= report.report_sate ? "Aprobado" : "Sin Aprobar" %></td>
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
</div>

<script type="text/javascript">
  $("#search1").val("<%= params[:search1]%>")
  $("#search2").val("<%= params[:search2]%>")
  $("#search3").val("<%= params[:search3]%>")
  $("#search4").val("<%= params[:search4]%>")

  $('.chosen-select1').chosen({

          allow_single_deselect: true,
          no_results_text: 'No hay resultados',
          width: 242,
          placeholder_text_single: "Seleccione una opción",
          placeholder_text_multiple: "Seleccione una varias opciones"

  });

  $('.chosen-select2').chosen({

          allow_single_deselect: true,
          no_results_text: 'No hay resultados',
          width: 174,
          placeholder_text_single: "Seleccione una opción",
          placeholder_text_multiple: "Seleccione una varias opciones"

  });
</script>

<style type="text/css">
.content
{
  max-height: 500px; 
  height: 500px; 
  max-width: 100%;
  

}

.chosen-container-single .chosen-single{
  border-radius: initial;
  height: 34px;
}
.content table
{
  width: 1600px;
    
}
.table-responsive
{
  height: 500px;
}
.menu{
  padding: 5px 5px;
}
</style>

-->