<p id="notice"><%= notice %></p>

<h1>Sales Orders</h1>

<table>
  <thead>
    <tr>
      <th>Acciones</th>
      <th>Created date</th>
      <th>Order number</th>
      <th>Order value</th>
      <th>State</th>
      <th>Order file</th>
      <th>Cost center</th>
    </tr>
  </thead>

  <tbody>
    <% @sales_orders.each do |sales_order| %>
      <tr>
          <td style="text-align: center;">

          <div class="dropdown">
            <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-align-left"></i>
            </button>
            <div class="dropdown-menu">

              <div class="col-md-12 no-padding-left">  
                <%= link_to report, class: "dropdown-item" do %>
                  <i class="far fa-eye"></i> Ver Registro
                <% end -%>
              </div>

              <div class="col-md-12 no-padding-left">  
                <%= link_to edit_rol_path(rol), class: "dropdown-item" do %>
                  <i class="fas fa-pencil-alt"></i> Editar Registro
                <% end -%>
              </div>

              <div class="col-md-12 no-padding-left">  
                <%= link_to rol, method: :delete, data: {
                  confirm: '¿Estas Seguro?',
                  'confirm-button-text': 'Borrar',
                  'cancel-button-text': 'Cancelar',
                  'confirm-button-color': '#CC0000',
                   text: 'Recuerda que el registro se borrara permanentemente',
                  'image-url': ''}, class: "dropdown-item" do %>
                  <span class="glyphicon glyphicon-trash"></span> Eliminar 
                <% end -%>
              </div>

            </div>
          </div>

        </td>
        
        <td><%= sales_order.created_date %></td>
        <td><%= sales_order.order_number %></td>
        <td><%= sales_order.order_value %></td>
        <td><%= sales_order.state %></td>
        <td><%= sales_order.order_file %></td>
        <td><%= sales_order.cost_center_id %></td>
        <td><%= link_to 'Show', sales_order %></td>
        <td><%= link_to 'Edit', edit_sales_order_path(sales_order) %></td>
        <td><%= link_to 'Destroy', sales_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales Order', new_sales_order_path %>
