<p id="notice"><%= notice %></p>

<p>
  <strong>Created date:</strong>
  <%= @sales_order.created_date %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @sales_order.order_number %>
</p>

<p>
  <strong>Order value:</strong>
  <%= @sales_order.order_value %>
</p>

<p>
  <strong>State:</strong>
  <%= @sales_order.state %>
</p>

<p>
  <strong>Order file:</strong>
  <%= @sales_order.order_file %>
</p>

<p>
  <strong>Cost center:</strong>
  <%= @sales_order.cost_center_id %>
</p>

<%= link_to 'Edit', edit_sales_order_path(@sales_order) %> |
<%= link_to 'Back', sales_orders_path %>
