<!DOCTYPE html>
<html>
  <head>
    <title>Controlmatica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "https://controlmatica.com.co/templates/controlmatica_template_01_03/favicon.ico" %>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body class="app <%= current_user.menu %>">
      <!-- Navbar-->
    <header class="app-header">
      <a class="app-header__logo" href="/">
        <!-- <img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/576/masbosques_horizontalv3.png" alt="" class="img-logo">-->
        <h5 class="mt-2 logo-text" > <img class="image-logo" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/592/isotipo_cmtica_.png" alt=""> <img style="width:155px;" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/593/controlmaticatexto.png" alt=""></h5>
      </a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <li class="dropdown">
          <% if get_register_edit.any? && current_user.rol.name == "Administrador" %>

            <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications">
              <span class="badge badge-light notification-badge"><%= get_register_edit.count %></span>
                <i class="fas fa-edit" style="font-size: 17px;"></i>
            </a>

            <ul class="app-notification dropdown-menu dropdown-menu-right">
              <li class="app-notification__title">Tienes <%= get_register_edit.count %> nuevas notificaciones.</li>
                <div class="app-notification__content">
                  <% get_register_edit.first(4).each do |notification|  %>
                    <% link = "/notifications" + "?from=" + notification.id.to_s %>
                    <li>
                          <a class="app-notification__item" href="<%= link %>">
                            <span class="app-notification__icon">
                              <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                              </span>
                            </span>

                            <div>
                              <p class="app-notification__message">Se modifico un valor en <%= notification.module %> <br>  <br> <%== notification.description %></p>
                              <p class="app-notification__meta"><%= notification.date_update %></p>
                            </div>
                          </a>  
                    </li> 
                  <% end %>
            
              <li class="app-notification__footer"><%= link_to "Ver todas las notificaciones.", notifications_path, style: "color: #ffff !important;" %></li>
            </ul>

          <% end %>
        </li>

        <li class="dropdown">
          <% if get_notification_alert.any? && current_user.rol.name == "Administrador" %>

            <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications">
              <span class="badge badge-light notification-badge"><%= get_notification_alert.count %></span>
                <i class="fas fa-bell" style="font-size: 17px;"></i>
            </a>

            <ul class="app-notification dropdown-menu dropdown-menu-right">
              <li class="app-notification__title">Tienes <% get_notification_alert.count %> nuevas notificaciones.</li>
                <div class="app-notification__content">
                  <% get_notification_alert.first(4).each do |notification|  %>
                    <% link = "/notification_alerts" + "?from=" + notification.id.to_s %>
                    <li>
                          <a class="app-notification__item" href="<%= link %>">
                            <span class="app-notification__icon">
                              <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                              </span>
                            </span>

                            <div>
                              <p class="app-notification__message">Alerta de sobrecosto en <%= notification.module %> <br> C.C (<%= notification.cost_center.code if notification.cost_center%>)   </p>
                              <p class="app-notification__meta"><%= notification.date_update %></p>
                            </div>
                          </a>  
                    </li> 
                  <% end %>
            
              <li class="app-notification__footer"><%= link_to "Ver todas las notificaciones.", notification_alerts_path, style: "color: #ffff !important;" %></li>
            </ul>
            
          <% end %>

        </li>

        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            
          
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                  <i class="fas fa-sign-out-alt mr-2 fa-lg"></i> Salir</a>
              <% end -%>
            </li>

            <% if @user_name %>
              <li>
                <%= link_to "Salir de microsoft", {:controller => :auth, :action => :signout}, class: "dropdown-item" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Ingresar a microsoft", "/auth/microsoft_graph_auth", method: :post, class: "dropdown-item" %>
              </li>
            <% end %>
            

          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->

        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <%= image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "app-sidebar__user-avatar")%>

        <div>
          <p class="app-sidebar__user-name"><%= current_user.names ? current_user.names : "Usuario" %></p>
          <p class="app-sidebar__user-designation" style="color:#a09e9e"><%= current_user.rol.name ? current_user.rol.name : "No hay rol" %></p>
        </div>
      </div>

      <ul class="app-menu">

      <% if authorization_config %>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">Configuración</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">

            <% if authorization_providers || current_user.rol.name == "Administrador" %>
              <li>
                <%= link_to providers_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Proveedores</span>
                <% end -%>
              </li>
            <% end %>

            <% if authorization_customers || current_user.rol.name == "Administrador" %>
              <li>
                <%= link_to customers_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fa fa-street-view"></i><span class="app-menu__label">Clientes</span>
                <% end -%>
              </li>
            <% end %>

            <% if authorization_parameterizations || current_user.rol.name == "Administrador" %>
                <li>
                  <%= link_to parameterizations_path, class: "app-menu__item" do %>
                    <i class="app-menu__icon fa fa-layer-group"></i><span class="app-menu__label">Parametrizacion</span>
                  <% end -%>
                </li>
            <% end %>

            <% if authorization_users || current_user.rol.name == "Administrador" %>
              <li>
                <%= link_to users_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Usuarios</span>
                <% end -%>
              </li>
            <% end %>

            <% if authorization_rols || current_user.rol.name == "Administrador" %>
                <li>
                  <%= link_to rols_path, class: "app-menu__item" do %>
                    <i class="app-menu__icon fas fa-user-edit"></i><span class="app-menu__label">Roles</span>
                  <% end -%>
                </li>
            <% end %>
            
            <% if authorization_modules || current_user.rol.name == "Administrador" %>
              <li>
                <%= link_to module_controls_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fa fa-layer-group"></i><span class="app-menu__label">Modulos y Acciones</span>
                <% end -%>
              </li>
            <% end %>

            <% if authorization_modules || current_user.rol.name == "Administrador" %>
              <li>
                <%= link_to alerts_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fa fa-layer-group"></i><span class="app-menu__label">Alertas</span>
                <% end -%>
              </li>
            <% end %>


              <% if authorization_report_expense_options %>
                <li>
                  <%= link_to report_expense_options_path, class: "app-menu__item" do %>
                    <i class="app-menu__icon fas fa-donate"></i><span class="app-menu__label pl-0">Tipos de Gastos</span>
                  <% end -%>
                </li>
              <% end %>

            </ul>
          </li>
      <% end %>

      <% if  authorization_commission_relations || authorization_commissions %>
        <li class="treeview">
          <a class="app-menu__item" href="#" data-toggle="treeview">
            <i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">Comisiones</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">

            <% if authorization_commissions || current_user.rol.name == "Administrador" %>
              <li>
                <%= link_to commissions_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Comisiones</span>
                <% end -%>
              </li>
            <% end %>

            <% if authorization_commission_relations || current_user.rol.name == "Administrador" %>
              <li>
                <%= link_to commission_relations_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fa fa-street-view"></i><span class="app-menu__label">Relacion de comisiones</span>
                <% end -%>
              </li>
            <% end %>

            </ul>
          </li>
      <% end %>

     <%#  authorization_report_expenses || authorization_expense_ratios  %>
      <% if authorization_report_expenses || authorization_expense_ratios  %>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">Control de gastos</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">

              <% if authorization_report_expenses %>
                <li>
                  <%= link_to report_expenses_path, class: "app-menu__item" do %>
                    <i class="app-menu__icon fas fa-donate"></i><span class="app-menu__label pl-0">Gastos</span>
                  <% end -%>
                </li>
              <% end %>



              <% if authorization_expense_ratios %>
                <li>
                  <%= link_to expense_ratios_path, class: "app-menu__item" do %>
                    <i class="app-menu__icon fas fa-donate"></i><span class="app-menu__label pl-0">Relacion de gastos</span>
                  <% end -%>
                </li>
              <% end %>

            </ul>
          </li>
      <% end %>

  

        <% if authorization_cost_center || current_user.rol.name == "Administrador" %>
          <li>
            <%= link_to cost_centers_path, class: "app-menu__item" do %>
              <i class="app-menu__icon fas fa-donate"></i><span class="app-menu__label pl-0">Centros de costos</span>
            <% end -%>
          </li>
        <% end %>

        <% if authorization_turnos || current_user.rol.name == "Administrador" %>
          <li>
            <%= link_to shift_calendar_path("All"), class: "app-menu__item" do %>
              <i class="app-menu__icon fas fa-donate"></i><span class="app-menu__label pl-0">Turnos</span>
            <% end -%>
          </li>
        <% end %>

        <% if authorization_cost_center || current_user.rol.name == "Administrador" %>
          <li>
            <%= link_to sales_orders_path, class: "app-menu__item" do %>
              <i class="app-menu__icon fas fa-donate"></i><span class="app-menu__label pl-0">Ordenes de Compra</span>
            <% end -%>
          </li>
        <% end %>

        <% if authorization_report || current_user.rol.name == "Administrador" %>
          <li>
            <%= link_to reports_path, class: "app-menu__item" do %>
              <i class="app-menu__icon fas fa-user-clock"></i><span class="app-menu__label">Reportes de Servicio</span>
            <% end -%>
          </li>
        <% end %>

        <% if authorization_contractors || current_user.rol.name == "Administrador" %>
        <li>
          <%= link_to contractors_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fa fa-th"></i><span class="app-menu__label pl-0">Registro Tablerista</span>
          <% end -%>
        </li>
      <% end %>

      <% if authorization_materials || current_user.rol.name == "Administrador" %>
          <li>
            <%= link_to materials_path, class: "app-menu__item" do %>
              <i class="app-menu__icon fas fa-dolly"></i><span class="app-menu__label pl-0">Registro Materiales</span>
            <% end -%>
          </li>
      <% end %>

        
        <% if authorization_customer_reports || current_user.rol.name == "Administrador" %>
          <li>
            <%= link_to customer_reports_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-handshake"></i><span class="app-menu__label">Reportes de Cliente</span>
            <% end -%>
          </li>
        <% end %>

        <% if authorization_employed_performance || current_user.rol.name == "Administrador" %>
          <li>
            <%= link_to employed_performance_show_path, class: "app-menu__item" do %>
            <i class="app-menu__icon fas fa-chart-line"></i><span class="app-menu__label">Rendimiento</span>
            <% end -%>
          </li>
        <% end %>

            <% if current_user.rol.name == "Administrador" %>
              <li>
                <%= link_to controlmatica_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fa fa-layer-group"></i><span class="app-menu__label">Informes</span>
                <% end -%>
              </li>
            <% end %>


            <% if authorization_alerts || current_user.rol.name == "Administrador"%>
                <li>
                  <%= link_to notification_alerts_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fas fa-chart-line"></i> <span class="app-menu__label">Notificación de alertas</span>
                  <% end -%>
                </li>
              <% end %>

              <% if authorization_notifications || current_user.rol.name == "Administrador" %>
                <li>
                  <%= link_to notifications_path, class: "app-menu__item" do %>
                  <i class="app-menu__icon fas fa-chart-line"></i><span class="app-menu__label">Registro de edición</span>
                  <% end -%>
                </li>
              <% end %>
                
               
                  <% if authorization_tablero || current_user.rol.name == "Administrador" %>
                  <li>
                    <%= link_to dashboard_ing_path + "?tab=home", class: "app-menu__item" , data: { turbolinks: false } do %>
                    <i class="app-menu__icon fas fa-chart-line"></i><span class="app-menu__label">Mi tablero</span>
                    <% end -%>
                  </li>
                 <% end -%>




      <!--<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Forms</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="form-components.html"><i class="icon fa fa-circle-o"></i> Form Components</a></li>
            <li><a class="treeview-item" href="form-custom.html"><i class="icon fa fa-circle-o"></i> Custom Components</a></li>
            <li><a class="treeview-item" href="form-samples.html"><i class="icon fa fa-circle-o"></i> Form Samples</a></li>
            <li><a class="treeview-item" href="form-notifications.html"><i class="icon fa fa-circle-o"></i> Form Notifications</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Tables</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="table-basic.html"><i class="icon fa fa-circle-o"></i> Basic Tables</a></li>
            <li><a class="treeview-item" href="table-data-table.html"><i class="icon fa fa-circle-o"></i> Data Tables</a></li>
          </ul>
        </li>
        <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Informes</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item active" href="blank-page.html"><i class="icon fa fa-circle-o"></i> Blank Page</a></li>

          </ul>
        </li>-->
      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title <%= controller_name%>-<%= action_name%>">
        <div>
            <%= controller_name_helper(controller_name, action_name).html_safe %>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
           <%= breadcrumb_actions(controller_name, action_name).html_safe %>
        </ul>
      </div>
      <div class="row <%= controller_name%>-<%= action_name%>-content">
        <div class="col-md-12 page">

    
                        <%= yield %>
       

        </div>
      </div>
    </main>
    

    <script type="text/javascript">
  jQuery(document).ready(function($) {
  (function () {
    "use strict";

    var treeviewMenu = $('.app-menu');

    // Toggle Sidebar
    $('[data-toggle="sidebar"]').click(function(event) {
      event.preventDefault();
      $('.app').toggleClass('sidenav-toggled');

      if ( $('.app').hasClass('sidenav-toggled')) {
          $.get("/menu/" + <%= current_user.id %> + "/" + "sidebar-mini rtl sidenav-toggled" , function(data, status){});
          $(".col9").removeClass("col9responsive");
          $(".col8").removeClass("col8responsive");
          $(".col1").removeClass("col1responsive");
          $(".col2").removeClass("col2responsive");
          $(".col3").removeClass("col3responsive");

          $(".col10").removeClass("col10responsive");
          $(".col11").removeClass("col11responsive");

          $(".col12").removeClass("col12responsive");
          $(".col13").removeClass("col13responsive");
          $(".col14").removeClass("col14responsive");
          $(".col15").removeClass("col15responsive");
          $(".col16").removeClass("col16responsive");

      }else{
          
        $.get("/menu/" + <%= current_user.id %> + "/" + "sidebar-mini rtl" , function(data, status){});
        $(".col9").addClass("col9responsive");
        $(".col8").addClass("col8responsive");
        $(".col1").addClass("col1responsive");
        $(".col2").addClass("col2responsive");
        $(".col3").addClass("col3responsive");
        $(".col10").addClass("col10responsive");
        $(".col11").addClass("col11responsive");
        $(".col12").addClass("col12responsive");
        $(".col13").addClass("col13responsive");
        $(".col14").addClass("col14responsive");
        $(".col15").addClass("col15responsive");
        $(".col16").addClass("col16responsive");
      } 

      


    });


    if ("<%= current_user.menu %>" == "sidebar-mini rtl sidenav-toggled") {
          $(".col9").removeClass("col9responsive");
          $(".col8").removeClass("col8responsive");
          $(".col1").removeClass("col1responsive");
          $(".col2").removeClass("col2responsive");
          $(".col3").removeClass("col3responsive");

          $(".col10").removeClass("col10responsive");
          $(".col11").removeClass("col11responsive");

          $(".col12").removeClass("col12responsive");
          $(".col13").removeClass("col13responsive");
          $(".col14").removeClass("col14responsive");
          $(".col15").removeClass("col15responsive");
          $(".col16").removeClass("col16responsive");
    }else{
          $(".col9").addClass("col9responsive");
          $(".col8").addClass("col8responsive");
          $(".col1").addClass("col1responsive");
          $(".col2").addClass("col2responsive");
          $(".col3").addClass("col3responsive");
          $(".col10").addClass("col10responsive");
          $(".col11").addClass("col11responsive");
          $(".col12").addClass("col12responsive");
          $(".col13").addClass("col13responsive");
          $(".col14").addClass("col14responsive");
          $(".col15").addClass("col15responsive");
          $(".col16").addClass("col16responsive");
    }


    // Activate sidebar treeview toggle
    $("[data-toggle='treeview']").click(function(event) {
      event.preventDefault();
      if(!$(this).parent().hasClass('is-expanded')) {
        treeviewMenu.find("[data-toggle='treeview']").parent().removeClass('is-expanded');
      }
      $(this).parent().toggleClass('is-expanded');
    });

    // Set initial active toggle
    $("[data-toggle='treeview.'].is-expanded").parent().toggleClass('is-expanded');

    //Activate bootstrip tooltips
    $("[data-toggle='tooltip']").tooltip();

  })();

});
</script>

<style>
  .img-logo{
    height: 36px;
    position: relative;
    top: -8px;
  }
  .img-container
  {
    position: absolute;
    bottom:50px;
  }
</style>

  </body>
</html>

